<div id="map" style="height: 600px;"></div>

<script>
  function initMap() {
    const mapElement = document.getElementById('map');
    const mapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 10
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, map.getCenter());
        }
      );
    } else {
      handleLocationError(false, map.getCenter());
    }

    google.maps.event.addListener(map, 'click', function(event) {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();
      document.getElementById('latitude').value = latitude;
      document.getElementById('longitude').value = longitude;
      document.getElementById('form-container').style.display = 'block';
    });

    <% @posts.each do |post| %>
      new google.maps.Marker({
        position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>}, 
        map: map,
        title: '<%= j post.title %>'
      });
    <% end %>
  }

  function handleLocationError(browserHasGeolocation, pos) {
    const infoWindow = new google.maps.InfoWindow({
      map: map,
      position: pos,
      content: browserHasGeolocation
        ? 'Error: The Geolocation service failed.'
        : 'Error: Your browser doesn\'t support geolocation.'
    });
    infoWindow.open(map);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>

<div id="form-container" style="display: none;">
  <%= form_with model: @post, url: posts_path, local: true do |form| %>
    <%= form.hidden_field :latitude, id: 'latitude' %>
    <%= form.hidden_field :longitude, id: 'longitude' %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
    <div>
      <%= form.submit 'Submit' %>
    </div>
  <% end %>
</div>
<%= link_to "新規投稿", new_post_path %>